name: tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python: ['3.9', '3.10', '3.11']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Python dependencies
        run: pip install jeepney cryptography codecov
      - name: Clone libsecret repository
        run: git clone https://gitlab.gnome.org/GNOME/libsecret.git
      - name: Run tests
        run: |
          dbus-run-session -- coverage run tests/run_tests.py libsecret/libsecret/mock-service-normal.py
          dbus-run-session -- coverage run -a tests/run_tests.py libsecret/libsecret/mock-service-only-plain.py
          dbus-run-session -- coverage run -a tests/run_tests.py libsecret/libsecret/mock-service-lock.py
      - name: Upload reports to Codecov
        if: ${{ matrix.python == '3.11' }}
        run: codecov
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install mypy and flake8
        run: pip install mypy flake8
      - name: Run flake8
        run: flake8 --max-line-length=88 .
      - name: Run mypy
        run: mypy --strict --ignore-missing-imports secretstorage/ tests/
